/*---
# Only the main Sass file needs front matter (the dashes are enough)
---*/

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";


@import "fonts";
@import "rouge-github";

body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:500;
}

p{
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 10px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 10px;
}

h1, h2, h3 {
  line-height:1.05;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
  font-size: 24px;
}

h3 {
  font-size: 20px;
  color:#494949;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 20px;
}

a {
  color:#267CB9;
  text-decoration:none;
}