<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <div>
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
        <div style="width:100%;text-align: center;margin-bottom: 16px;"><img src="https://blog.dosth.cool/assets/img/header.png" style="width: 64px;border: 1px #bbb;"></div>
      </a>
    </div>
    <link rel="alternate" type="application/rss+xml"  href="{{ site.url }}/feed.xml" title="{{ site.title }}">
  </body>

</html>